.header {
  font-family: roboto;
  background-color: #1F2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
  margin: 18px;
}

.header-links {
  font-size: 18px;
  margin: 18px;
}

ul {
  list-style-type: none;
  display: flex;
  gap:18px;
}

a {
  text-decoration: none;
  color: #E5E7EB;
}